@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,100italic,300italic,400italic,500italic);

/* GLOBAL */

body {
	background: white;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: black;
}

.UnSelectable {
	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	user-select: none; 
}

p {
	line-height: 120%;
	font-weight: 300;
}

h1, h2 {
	margin:0;
	padding: 0;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

h2 {
	font-size: 1rem;
/*	margin-bottom: 2rem;
	margin-top: 2rem;*/
}

a {
	text-decoration: none;
	font-weight: normal;
}

ol {
	list-style: none;
}

button {
	font-family: 'Roboto', sans-serif;
}

.SecondaryButton {
	display: inline-block;
	border: none;
	width: fit-content;
	background: linear-gradient(to right, #62d78c, #b0ca70);
	padding: 7px 10px 10px 10px;
	border-radius: 3px;
	font-size: .9rem;
	color: white;
	text-align: center;
	font-weight: 300;
}

.PrimaryButton {
	display: inline-block;
	border: none;
	width: fit-content;
	background: #24693c;
	padding: 1rem;
	border-radius: 3px;
	font-size: 1rem;
	color: white;
	text-align: center;
	font-weight: 300;
	width: 100%;
}

.GlobalLogo {
	font-family: 'Roboto', sans-serif;
	margin: 2rem;
}

.GlobalLogo h1 {
	font-size: 1.2rem;
}

/* RECIPE - LIST */

.RecipeList {
	width: 100%;
	background: linear-gradient(#62d78c, #b0ca70);
	float: left;
	height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 200ms ease-out;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	z-index: 9;
}

.RecipeList.Closed {
	left: -100%;
}

@media (min-width: 800px) {
	.RecipeList {
		width: 30%;
		position: relative;
	}
}

.RecipeList ol {
	padding: 0;
	margin: 0;
	list-style: none;
}


.RecipeListH1 {
	margin: 2rem;
	position-left: 2rem;
	padding-bottom: 1.2rem;
	color: black;

}

.RecipeList ol li {
	margin: 1.2rem 2rem 0 2rem;
	border-bottom: 1px solid hsla(0,0%,0%,.26);
	padding-bottom: 5%;
	color: white;
}

/*@media (min-width: 800px) {
	.RecipeList ol li {
		margin: 2.4rem 4rem 0 4rem;
	}
}*/
/* RECIPE - DETAIL */

.RecipeDetail {
	width: 100%;
	float: left;
	height: 100vh;
	transition: 200ms all ease-out;
	transform: scale(.95);
	opacity: 0;
}

.RecipeDetail.Open {
	transform: scale(1);
	opacity: 1;
}

@media (min-width: 800px) {
	.RecipeDetail {
		width: 70%;
		height: 100vh;
		overflow-y: scroll;
		opacity: 1;
		transform: scale(1);
	}
}

.RecipeDetailInside {
	padding: 2rem 2rem;
	max-width: 600px;
}

/*@media (min-width: 800px) {
	.RecipeDetailInside {
		padding: 1rem 4rem;
	}
}*/

.RecipeDetailInside p {
	line-height: 150%;
}

.TagsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TagsListItem {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}



.AddTagButton {
  display: block;
  height: 2rem;
  width: 2rem;
  text-align: center;
  background: url(_img/plus.jpg) no-repeat;
  background-position: center center;
  background-size: 50%;
  text-indent: -9999px;
  opacity: .5;
  top: -.4rem;
  position: relative;
}

.IngredientsList {
	margin: 0 0 2rem 0;
	padding: 0;
	border-top: 1px solid #979797;
}

.IngredientsListItems {
	margin: 0;
	border-bottom: 1px solid #979797;
	font-weight: 300;
	overflow: auto;
}

.IngredientVolume {
	width: calc(50% - 1rem) ;
	display: block;
	float: left;
	border-right: 1px solid #979797;
	padding: .75rem 0;
}

@media (min-width: 800px) {
	.IngredientVolume {
		width: calc(30% - 1rem) ; 
	}
}

.IngredientName {
	width: 50%;
	display: block;
	float: left;
	margin-left: .75rem;
	padding: .75rem 0;
}

@media (min-width: 800px) {
	.IngredientName {
		width: 70%;
	}
}

.RecipeYield {
	padding-top: 2rem;
}

.RecipeMethod {
	margin: 2rem 0 0 0;
}

.CloseButton {
	background: url(_img/close.png) no-repeat;
	height: 1rem;
	width: 1rem;
	background-size: 100%;
	background-position: center center;
	border: 0;
	position: absolute;
	top: 2rem;
	right: 2rem;
	text-indent: -999999999px;
	opacity: .5;
	outline: none;
}

@media (min-width: 800px) {
	#RecipeDetailClose {
		display: none;
	}
}


/* RECIPE - ADD */

.RecipeAddButton {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  border: none;
  text-indent: -9999px;
  box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.5);
  background: #24693c url(_img/fab_plus.png) no-repeat;
  background-size: 25%;
  background-position: center center;
  position: fixed;
  bottom: 3vh;
  left: 76vw;
  z-index: 99;
  outline: none;
  cursor: pointer;
}

@media (min-width: 800px) {
	.RecipeAddButton {
		left: 23vw;
	}
}

.RecipeAdd {
	width: 100%;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100vh;
	z-index: 999;
	transition: 200ms all ease-out;
}

@media (min-width: 800px) {
	.RecipeAdd {
		max-width: 662px;
		left: 30%;
	}
}

.RecipeAdd.UnSeen {
	left: -100%;
}

@media (min-width: 800px) {
	.RecipeAdd.UnSeen {
		left: 100%;
	}
}

.RecipeAdd h2 {
	margin-bottom: 2rem;
}

.RecipeAddInside {
	padding: 2rem;
	position: relative;
}

.RecipeAddLabel {
	font-size: .8rem;
	margin-bottom: .5rem;
	display: block;
}

.RecipeAddInput {
	border: 1px solid #ccc;
	border-radius: 3px;
	width: calc(100% - 2rem);
	padding: 1rem;
	color: #999;
	margin-bottom: 1rem;
}

.RecipeAddTextarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	width: calc(100% - 2rem);
	padding: 1rem;
	color: #999;
	margin-bottom: 1rem;
}

.RecipeAddOptions {
	margin-bottom: 1rem;
	width: 100%;
	display: inline-block;
}

.RecipeAddTagsButton, .RecipeAddImagesButton {
	width: calc(51% - .5rem);
	float: left;
}

.RecipeAddTagsButton {
	margin-right: .5rem;
}

/* FORMS */


