@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);

/* GLOBAL */

body {
	background: white;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

p {
	font-weight: 400;
	line-height: 125%;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin:0;
	padding: 0;
}

a {
	color: black;
	font-weight: normal;
  text-decoration: none; 
}

button {
	border: none;
	background-position: center center;
	display: inline-block;
	height: 2.1rem;
	width: 2.1rem;
	text-indent: -9999px; 
}

.InstaBlue {
	color: #125688;
}

/* HEADER */

.MainHeader {
	background-color: #faf9fb;
	border-bottom: 1px solid #f2f2f2;
	height: 9vh;
	width: 100vw;
}

.InstagramLogo {
	position: relative;
	top: 1.5rem;
	left: 50%;
	margin-left: -3.25rem;
	width: 6.5rem;
}

/* Not really sure how to appropriately position ButtonInbox for various viewport widths*/

.ButtonInbox {
	position: absolute;
	top: 3vh;
	right: 2rem;
}

@media(min-width: 650px) {
	.ButtonInbox {
		right: 21vw;
	}
}

/* NAVIGATION */

.nav {
	background-color: #faf9fb;
	border-top: 1px solid #f2f2f2;
	height: 7vh;
	width: 100vw;
	position: fixed;
	top: 93vh;
	z-index: 2;
}

.NavButtonContainer {
	margin: 0 auto;
	height: 7vh;
	max-width: 650px;
}

.ButtonHome {
	background: url(_img/Icon_Heart.svg) no-repeat;
	background-size: 90%;
	position: relative;
	top: 15%;
	margin-left: 4%;
	margin-right: 10%;
}

.ButtonSearch {
	background: url(_img/Icon_Heart.svg) no-repeat;
	background-size: 90%;
	position: relative;
	top: 15%;
	margin-right: 10%;
}

.ButtonCamera {
	background: url(_img/Icon_Heart.svg) no-repeat;
	background-size: 90%;
	position: relative;
	top: 15%;
	margin-right: 10%;
}

.ButtonNotifications {
	background: url(_img/Icon_Heart.svg) no-repeat;
	background-size: 90%;
	position: relative;
	top: 15%;
	margin-right: 10%;
}

.ButtonUserProfile {
	background: url(_img/Icon_Heart.svg) no-repeat;
	background-size: 90%;
	position: relative;
	top: 15%;
	margin-left: 3%;
}

@media(min-width:650px) {
	.ButtonHome {
		top: 25%;
		margin-right: 17%;
		margin-left: 0;
	}

	.ButtonSearch {
		top: 25%;
		margin-right: 17%;
	}

	.ButtonCamera {
		top: 25%;
		margin-right: 17%;
	}

	.ButtonNotifications {
		top: 25%;
		margin-right: 17%;
	}

	.ButtonUserProfile {
		top: 25%;
		margin-right: 0;
	}
}

 /*MAIN SECTION */

.PhotoStream {
	margin: 0 auto;
	max-width: 650px;
	overflow: auto;
}

.UserInfo {
	height: 6.5vh;
	width: 100%;
	position: relative;
}

.UserProfileImage {
	border-radius: 100%;
	height: 28px;
	width: 28px;
	position: absolute;
	top: .5rem;
	left: .5rem;
}

.UserName {
	font-weight: 700;
	position: relative;
	top: .4rem;
	left: 2.75rem;
}

.ButtonThreeDot {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.UserPhoto img {
	width: 100%;
}

.ButtonContainer {
	width: calc(100% - 2rem);
	margin: 1rem;
	border-bottom: 1px solid #ccc;
	padding-bottom: 1rem;
}

.ButtonContainer button {
	background-size: 110%;
	background-position: center center;
	width: 2rem;
	height: 2rem;
	margin-right: .5rem;
}

.ButtonLike {
	background: url(_img/Icon_Heart.svg) no-repeat;
}

.ButtonComment {
	background: url(_img/Icon_Bubble.svg) no-repeat;
}

.ButtonShare {
	background: url(_img/Icon_Share.svg) no-repeat;
}

/* I can't get rid of the outline on this heart.*/

.LikesHeart {
	background: url(_img/heart_active.png) no-repeat;
	background-position: center center;
	background-size: 40%;
	position: relative;
	text-indent: -9999
	top: .5rem;
}

.LikesQuantity {
	font-weight: 700;
}

/* COMMENTS SECTION */

.UserComments {
	padding: 0 1rem;
}

.UserCommentsLast {
	margin-bottom: 8vh;
	padding: 0 1rem
}

.CommentsUserName {
	font-weight: 700;
}

.CommentsQuantity {
	opacity: .5;
}

.CommentsMore {
	opacity: .5;
}

.PhotoTimeStamp {
	font-size: .6rem;
	opacity: .5;
	text-transform: uppercase;
}

