/*@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);
*/@import url(https://rawgit.com/Dogfalo/materialize/master/css/ghpages-materialize.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

body {
	background: white;
	margin: 0;
	padding: 0;
	font-family: Noto Serif, Georgia;
	font-size: 15px;
	color: black
}

/* TYPOGRAPHY */

p {
	line-height: 120%
}

/* LIST */

.RecetioLogo {
	font-family: GTWalsheimTrial-Medium;
	font-size: 1.9rem;
	margin: 2rem;
	color: hsla(0,0%,0%,.6);
	opacity: 0;
}

@media (min-width: 800px) {
	.RecetioLogo {
		margin: 4rem;
	}
}

.RecetioLogo span {
	top: -.4rem;
	position: relative;
}

.RecipeFAB {
	/*width: 4.5rem;
	height: 4.5rem;
	border-radius: 10000px;*/
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	transition: all 200ms ease-out;
	opacity: 0;
}

.RecipeFAB.Closed {
	bottom: -10rem;
}

@media (min-width: 800px) {
	.RecipeFAB {
		right: 2rem;
		bottom: 2rem;
	}
}

.RecipeFAB a {
	background: hsla(0,0%,0%,.65);
}

.RecipeFAB a:hover {
	background: hsla(0,0%,0%,.9);
}

.RecipeFAB i{
	font-style: normal;
}

.RecipeList {
	width: 100%;
	background: #f2f2f2;
	float: left;
	height: 100vh;
	/*reseatch how overflow works. i've applied it here so it forces the user to be able to scroll within the elements fixed height of 100vh*/
	overflow-y: scroll;
	/*expiriment with position a bunch http://learnlayout.com/position.html */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	transition: all 200ms ease-out;
	background: #65d78f; /* Old browsers */
	background: -moz-linear-gradient(top, #65d78f 0%, #b6c874 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #65d78f 0%,#b6c874 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #65d78f 0%,#b6c874 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d78f', endColorstr='#b6c874',GradientType=0 ); /* IE6-9 */
}
.RecipeList.Closed {
	/*this class is applied in the click event in master.js thus moving RecipeList off screen*/
	left: -100%;
}

@media (min-width: 800px) {
	.RecipeList {
		width: 30%;
		/*overwriting the position:absolute; necessary only on the mobile breakppint*/
		position: relative;
	}
}

.RecipeList::-webkit-scrollbar {
	width:0px
}

.RecipeList ol {
	/*basic resets*/
	padding: 0;
	margin: 0;
	list-style: none
}

.RecipeList ol li {
	padding: 1rem 2rem 0rem 2rem;
	border-bottom: 1px solid hsla(0, 0%, 0%, .1);
	padding-bottom: 1rem;
	opacity: 0;
}

@media (min-width: 800px) {
	.RecipeList ol li {
		padding: 1.5rem 4rem 0rem 4rem;
		padding-bottom: 1.5rem
	}
}

.RecipeListTitle {
	margin-bottom: .5rem;
	font-family: GTWalsheimTrial-Medium;
	font-size: 1.2rem;
	color: white
}

.RecipeListDesc{
	opacity: .5;
	font-size: 1rem;
}

/*DETAIL*/

.RecipeDetail {
	width: 100%;
	float: left;
	height: 100vh;
	overflow-y:scroll;
}

@media (min-width: 800px) {
	.RecipeDetail {
		width: 70%;
	}
}

.RecipeDetailInside {
	padding: 2rem;
}

@media (min-width: 800px) {
	.RecipeDetailInside {
		padding: 4rem;
		padding-top: 2rem
	}
}

.RecipeDetailInside p {
	line-height: 180%;
}

.BackButton {
    padding: .5rem 2rem;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    background: transparent;
    color: #ccc;
    z-index: 777;
    outline: none;
}

@media (min-width: 800px) {
	.BackButton {
		/*research how "display" works.*/
		display: none;
	}
}

.RecipeDetailTitle {
	margin-bottom: .5rem;
	font-family: GTWalsheimTrial-Medium;
	font-size: 1.2rem;
	color: #65d78f;
}

.RecipeDetailFeatureImage img  {
	margin-left: -2rem;
	width: 117.5%;
	margin-top: 1rem
}

@media (min-width: 800px) {
	.RecipeDetailFeatureImage img {
		margin-left: 0;
		max-width: 30%;
		position: absolute;
		right: 4rem
	}
}

.RecipeDetail p {
	color: black;
}

.RecipeDetail p a {
	color: #65d78f;
	border-bottom: 1px solid #65d78f;
}

.RecipeBody {
	width: 100%
}

@media (min-width: 800px) {
	.RecipeBody {
		width: 40%
	}
}

.RecipeBody ul li {
	list-style: inherit;